# Collections
- rodered 
- unrodred 
- mutable
- immutable

## Ordered Collections

In [122]:
users = ["john", "sandra", "chris", "alice"] # list array

In [123]:
users

['john', 'sandra', 'chris', 'alice']

In [128]:
users[0], "bill"

('john', 'bill')

users [1]
John

In [129]:
site_visits = [4, 5, 10, 1]

In [130]:
users[0] # user name 
site_visits[0] #user 0 site vistis

4

## Unordered collections (set)

In [10]:
fruits = {"apple", "bannana", "apple","pineapple"}
fruits # setis unordred collection 
"apple" in fruits

True

In [ ]:
fruits.add("pear")

## Mutable vs immutable

In [131]:
users

['john', 'sandra', 'chris', 'alice']

In [132]:
frozen_fruits = frozenset(["apple", "banana"])

## Dictionary

In [13]:
users = ["Sandra", "John"]
ids = [2, 5]

In [ ]:
users[0], ids[0]

## How to work with lists and tuples

In [14]:
my_mixed_list = [1, 1.5, "hello", True]
my_mixed_tuple = (2, 1.5, "bye")

In [19]:
my_nested_list = [1, [], [3], (4, 5)]

## Access elements

In [17]:
my_mixed_list[0], my_mixed_tuple[1]

(1, 1.5)

In [21]:
my_mixed_list[-1], my_mixed_tuple[-2]

(True, 1.5)

In [27]:
my_mixed_list = [1, 1.5, "hello", True, 3, 5, 6, 7]
my_mixed_tuple = (2, 1.5, "bye")

In [24]:
# access multiple lements 
my_mixed_list[1:]

[1.5, 'hello', True]

In [25]:
my_mixed_tuple[1:]

(1.5, 'bye')

In [29]:
my_mixed_list[0:6] # we don't return the end index's element

[1, 1.5, 'hello', True, 3, 5]

In [ ]:
my_mixed_list[0:6:2] # from index 0 until

[1, 'hello', 3]

In [30]:
my_mixed_list[:]

[1, 1.5, 'hello', True, 3, 5, 6, 7]

In [ ]:
my_mixed_list[::-1] # opposite

[7, 6, 5, 3, True, 'hello', 1.5, 1]

In [ ]:
my_mixed_tuple[::-1] #output is also immutable; :: = whole list, -1 = step minus one

('bye', 1.5, 2)

In [33]:
my_mixed_tuple[0:3:-1]

()

In [34]:
my_mixed_tuple[-1::-1]

('bye', 1.5, 2)

## Checking if element is there

In [35]:
my_mixed_list = [1, 1.5, "hello", True, 3, 5, 6, 7]
my_mixed_tuple = (2, 1.5, "bye")

In [36]:
3 in my_mixed_list

True

In [ ]:
my_mixed_tuple? #describes the entity

Type:        tuple
String form: (2, 1.5, 'bye')
Length:      3
Docstring:
Built-in immutable sequence.

If no argument is given, the constructor returns an empty tuple.
If iterable is specified the tuple is initialized from iterable's items.

If the argument is a tuple, the return value is the same object.

In [ ]:
my_mixed_tuple?? #provides more info like source code

Type:        tuple
String form: (2, 1.5, 'bye')
Length:      3
Docstring:
Built-in immutable sequence.

If no argument is given, the constructor returns an empty tuple.
If iterable is specified the tuple is initialized from iterable's items.

If the argument is a tuple, the return value is the same object.

## Methods for lists and tuples

In [54]:
new_list = [1, 2, 3, 4, 6, 7, 5, 5, 5, 5]
new_tuple = (4, 5, 6, 7)

In [ ]:
new_list.copy() #method: an action or (funcion) that can be called on this particular data type

[1, 2, 3, 4]

In [42]:
new_list.append(5)

In [43]:
new_list

[1, 2, 3, 4, 5]

In [49]:
new_tuple.count(3)

0

In [50]:
new_list.count(5)

4

In [55]:
new_list.index(5) #the index of the first encounter of 5

6

In [56]:
new_tuple.index(5)

1

In [ ]:
len(new_list) #lenght of elements

10

In [ ]:
len(new_tuple) #number of elements (length)

4

In [ ]:
new_tuple.index(6) #method (function) if you call it, you have to put perentheses

2

In [70]:
new_list.append(3) #modified object in place
new_list

[1, 2, 3, 4, 6, 7, 5, 5, 5, 5, 3, 3, 3]

In [71]:
len(new_tuple) == 3

False

## Lists and what we can do with them

new_list.append(3) #inserts element in the end

In [78]:
new_list.insert(5, "hi hi")

In [73]:
new_list

[1, 2, 3, 4, 6, 'hi hi', 7, 5, 5, 5, 5, 3, 3, 3]

In [ ]:
new_list.remove(5)

In [79]:
new_list

[2, 3, 4, 6, 'hi hi', 'hi hi', 'hi hi', 'hi hi', 7, 5, 5, 5, 5, 3, 3, 3]

In [80]:
new_list.remove(5)

In [81]:
new_list

[2, 3, 4, 6, 'hi hi', 'hi hi', 'hi hi', 'hi hi', 7, 5, 5, 5, 3, 3, 3]

In [ ]:
new_list.pop(3)

6

In [ ]:
new_list.pop(3) #removes element with index 3 and returns this elemnet

'hi hi'

In [85]:
new_list

[2, 3, 4, 'hi hi', 'hi hi', 7, 5, 5, 5, 3, 3, 3]

In [ ]:
third_item = new_list.pop(3) #if funciotn returns something, yoyu can assign variable to it and do something

In [87]:
third_item

'hi hi'

In [88]:
new_list.clear()

In [89]:
new_list

[]

In [95]:
new_list_1 = [1, 2, 3]
new_list_2 = [4, 5, 6]

In [96]:
new_list_1.extend(new_list_2)

In [97]:
new_list_1

[1, 2, 3, 4, 5, 6]

In [98]:
new_list_1.sort() # modified list so it's sorted

In [99]:
new_list_1

[1, 2, 3, 4, 5, 6]

In [100]:
my_precious_list = [1, 2, 3]

In [101]:
less_important_list = my_precious_list.copy()

In [102]:
less_important_list

[1, 2, 3]

In [ ]:
my_precious_tuple = (1, 2, 3)
less_important_list =

## Comparing objects

In [ ]:
new_list_1 = [1, 2, 3]
new_list_2 = [4, 5, 6]
new_list_3 = new_list_1.copy()
new_list_4 = new_list_1 #alias for other list

In [107]:
## See if objects are equal

new_list_1 == new_list_2

False

In [ ]:
new_list_1 == new_list_3 #check and see if lists are same

True

In [113]:
new_list_1 is new_list_3

False

In [114]:
new_list_1 is new_list_4

True

## List (Task list)
You're planning your Monday and tasks keep changing:

1. Start with your Monday tasks with 3 tasks: `tasks = <you tasks here>
2. Add "lunch" at the ened (use `append`)
3. Add "a cup of tea" to the beginning using (use `insert`)
4. Remove "email" using `remove()`
5. Check what your 2nd task is using indexing
6. Print the total number of tasks using 
7. Print your first and last tasks

In [179]:
tasks = ["email", "call", "write friend"]
tasks

['email', 'call', 'write friend']

In [180]:
tasks.append("lunch")
tasks

['email', 'call', 'write friend', 'lunch']

In [181]:
tasks.insert(0,"tea")
tasks

['tea', 'email', 'call', 'write friend', 'lunch']

In [182]:
tasks.remove("email")
tasks

['tea', 'call', 'write friend', 'lunch']

In [183]:
tasks[2]

'write friend'

In [184]:
len(tasks)

4

In [185]:
tasks[0], tasks[-1]

('tea', 'lunch')

In [189]:
tasks[0:2] #slices return lists

['tea', 'call']

In [188]:
tasks[len(tasks)-2:]

['write friend', 'lunch']

In [193]:
tasks[-1:2:-1]

['lunch']

## Tuples (Coordinates)

Work with coordinate points:

1. Create a tuple `point1` with coordinates (3, 5)
2. Create a tuple `point2` with coordinates (7, 2)
3. Calculate the distance between points using: √((x₂-x₁)² + (y₂-y₁)²)
4. Store both of your points in a tuple called `all_points`
5. Print which point has the larger x-coordinate

**Hint:** Use `point1[0]` to get x-coordinate, `point1[1]` for y-coordinate

In [ ]:
point1 = (3, 5) #(x1, y1)
point2 = (7, 2) #(x2, y2)

In [200]:
inside_sqrt = (point2[0] - point1[0])**2 + (point2[1] - point1[1])**2
inside_sqrt

25

In [201]:
import math

In [202]:
math.sqrt(inside_sqrt)

5.0

## What we can do with sets and dictionaries

In [203]:
my_set = {1, 2, 2, 2, 5, 6,}
my_set

{1, 2, 5, 6}

In [204]:
empty_set = set()
empty_set

set()

In [205]:
#we can add elements to sets
empty_set.add(4)

In [206]:
empty_set

{4}

In [207]:
my_set.remove(2)

In [208]:
my_set

{1, 5, 6}

In [ ]:
my_set.pop() #removes a random element

1

In [211]:
my_set

{5, 6}

In [212]:
my_set.add(15)
my_set

{5, 6, 15}

In [ ]:
my_set.remove(2) #removes element but error if element isn't present

KeyError: 2

In [214]:
my_set.discard(2) #removes element but silent if not present

In [ ]:
my_set.clear() #clears all elements
my_set

set()

In [222]:
my_set_1 = {1, 2, 2, 2, 5, "orange"}
my_set_2 = {"apple", 5, "banana", "orange"}

In [224]:
my_set_1 | my_set_2

{1, 2, 5, 'apple', 'banana', 'orange'}

In [230]:
union_set = my_set_1 | my_set_2 
union_set

{1, 2, 5, 'apple', 'banana', 'orange'}

In [231]:
intersection_set = my_set_1 & my_set_2
intersection_set

{5, 'orange'}

In [228]:
my_set_1 - my_set_2

{1, 2}

In [229]:
my_set_1.difference(my_set_2)

{1, 2}

## Dictionaries

In [237]:
student_info = {
    "name": "John",
    "age": 34,
    "subjects": ["Math", "Python", "Philosopy"], 
    "father name": "Bill"
}

In [238]:
student_info["name"] #accessing values

'John'

In [240]:
student_info.get("name")

'John'

In [ ]:
student_info.get("mother name", "unknown") #get allows to return default values

'unknown'

In [ ]:
student_info["mother name"] = "laura" #modifies dictonary

In [243]:
student_info

{'name': 'John',
 'age': 34,
 'subjects': ['Math', 'Python', 'Philosopy'],
 'father name': 'Bill',
 'mother name': 'laura'}

In [ ]:
student_info["subjects"].append("Literature") #append adds value to dictionary

In [245]:
student_info

{'name': 'John',
 'age': 34,
 'subjects': ['Math', 'Python', 'Philosopy', 'Literature'],
 'father name': 'Bill',
 'mother name': 'laura'}

In [246]:
student_info.keys()

dict_keys(['name', 'age', 'subjects', 'father name', 'mother name'])

In [ ]:
"gender" in student_info.keys() #check if a key exists

False

In [250]:
student_info [(1, 2)] = "huh?"
student_info

{'name': 'John',
 'age': 34,
 'subjects': ['Math', 'Python', 'Philosopy', 'Literature'],
 'father name': 'Bill',
 'mother name': 'laura',
 (1, 2): 'huh?'}

In [ ]:
student_info[[1, 3]] = "huh?" #lists (mutalbe object) not allowed in dictionary

TypeError: unhashable type: 'list'

In [252]:
extra_student_info = {
    "gender": "male",
    "city of origin": "Paris"
}

In [ ]:
student_info.update(extra_student_info) #similar to list.extend

In [254]:
student_info

{'name': 'John',
 'age': 34,
 'subjects': ['Math', 'Python', 'Philosopy', 'Literature'],
 'father name': 'Bill',
 'mother name': 'laura',
 (1, 2): 'huh?',
 'gender': 'male',
 'city of origin': 'Paris'}

In [256]:
more_student_info = {
    "city of origin": "Berlin", 
    "country": "Germany"
}

In [257]:
student_info.update(more_student_info)

In [258]:
student_info

{'name': 'John',
 'age': 34,
 'subjects': ['Math', 'Python', 'Philosopy', 'Literature'],
 'father name': 'Bill',
 'mother name': 'laura',
 (1, 2): 'huh?',
 'gender': 'male',
 'city of origin': 'Berlin',
 'country': 'Germany'}

In [259]:
student_info_1 = {
    "name": "John",
    "age": 34,
    "subjects": ["Math", "Python", "Philosopy"], 
    "father name": "Bill"
}
student_info_2 = {
    "name": "John",
    "age": 34,
    "subjects": ["Math", "Python", "Philosopy"], 
    "father name": "Bill"
}
student_info_3 = student_info_1.copy()
student_info_4 = student_info_1

In [261]:
student_info_1 == student_info_3

True

In [262]:
student_info_1 is student_info_2

False

In [263]:
student_info_1 is student_info_4

False

In [ ]:
student_info_1.keys() #list all keys

dict_keys(['name', 'age', 'subjects', 'father name'])

In [ ]:
student_info_1.values() #list all values

dict_values(['John', 34, ['Math', 'Python', 'Philosopy'], 'Bill'])

In [ ]:
student_info_1.items() #list all key-value pairs

dict_items([('name', 'John'), ('age', 34), ('subjects', ['Math', 'Python', 'Philosopy']), ('father name', 'Bill')])

In [267]:
for (key, value) in student_info_1.items():
    print(key)
    print(value)
    print('----')

name
John
----
age
34
----
subjects
['Math', 'Python', 'Philosopy']
----
father name
Bill
----