# Challenge 2

In this challenge we will continue working with the `Pokemon` dataset. We will attempt solving a slightly more complex problem in which we will practice the iterative data analysis process you leaned in [this video](https://www.youtube.com/watch?v=xOomNicqbkk).

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemon are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.


## Problem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.

In [2]:
# Import libraries
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("/Users/chandlershortlidge/Downloads/Pokemon.csv")
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemon?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

In [4]:
# Compute Total using the formula
df["Computed_Total"] = df["HP"] + df["Attack"] + df["Defense"] + df["Sp. Atk"] + df["Sp. Def"] + df["Speed"]

# Check if this matches the given Total for all Pok√©mon
all_match = (df["Computed_Total"] == df["Total"]).all() # Return whether all elements are True, potentially over an axis.
print("Formula works for all Pok√©mon?", all_match)

Formula works for all Pok√©mon? True

## Problem Solving Iteration 2

Now that we have consolidated the abilities fields, we can update the problem statement. The new problem statement is:

### Which pokemon type is most likely to have the highest `Total` value?

In the updated problem statement, we assume there is a certain relationship between the `Total` and the pokemon type. But we have two *type* fields (`Type 1` and `Type 2`) that have string values. In data analysis, string fields have to be transformed to numerical format in order to be analyzed. 

In addition, keep in mind that `Type 1` always has a value but `Type 2` is sometimes empty (having the `NaN` value). Also, the pokemon type we choose may be either in `Type 1` or `Type 2`.

Now our expectation is:

#### `Type 1` and `Type 2` string variables need to be converted to numerical variables in order to identify the relationship between `Total` and the pokemon type.

The information we need to collect is:

#### How to convert two string variables to numerical?

Let's address the first question first. You can use a method called **One Hot Encoding** which is frequently used in machine learning to encode categorical string variables to numerical. The idea is to gather all the possible string values in a categorical field and create a numerical field for each unique string value. Each of those numerical fields uses `1` and `0` to indicate whether the data record has the corresponding categorical value. A detailed explanation of One Hot Encoding can be found in [this article](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f). You will formally learn it in Module 3.

For instance, if a pokemon has `Type 1` as `Poison` and `Type 2` as `Fire`, then its `Poison` and `Fire` fields are `1` whereas all other fields are `0`. If a pokemon has `Type 1` as `Water` and `Type 2` as `NaN`, then its `Water` field is `1` whereas all other fields are `0`.

#### In the next cell, use One Hot Encoding to encode `Type 1` and `Type 2`. Use the pokemon type values as the names of the numerical fields you create.

The new numerical variables you create should look like below:

![One Hot Encoding](https://education-team-2020.s3.eu-west-1.amazonaws.com/ds-ai/lab-dataframe-calculation-and-transformation/images/one-hot-encoding.png)

In [5]:
# One hot encode both Type 1 and Type 2
# get_dummies = Convert categorical variable into dummy/indicator variables. Each variable is converted in as many 0/1 variables as there are different values. 
#   Columns in the output are each named after a value; if the input is a DataFrame, the name of the original variable is prepended to the value.


type1_dummies = pd.get_dummies(df['Type 1'])
type2_dummies = pd.get_dummies(df['Type 2'])

# Add the two DataFrames together, filling NaN with 0 (in case of missing Type 2)
types_encoded = type1_dummies.add(type2_dummies, fill_value=0)

# Make sure we only have 0 or 1 (in rare case of double types)
types_encoded = types_encoded.astype(int)

# Optionally, check your result
print(types_encoded.head(20))

    Bug  Dark  Dragon  Electric  Fairy  Fighting  Fire  Flying  Ghost  Grass  \
0     0     0       0         0      0         0     0       0      0      1
1     0     0       0         0      0         0     0       0      0      1
2     0     0       0         0      0         0     0       0      0      1
3     0     0       0         0      0         0     0       0      0      1
4     0     0       0         0      0         0     1       0      0      0
5     0     0       0         0      0         0     1       0      0      0
6     0     0       0         0      0         0     1       1      0      0
7     0     0       1         0      0         0     1       0      0      0
8     0     0       0         0      0         0     1       1      0      0
9     0     0       0         0      0         0     0       0      0      0
10    0     0       0         0      0         0     0       0      0      0
11    0     0       0         0      0         0     0       0      0      0
12    0     0       0         0      0         0     0       0      0      0
13    1     0       0         0      0         0     0       0      0      0
14    1     0       0         0      0         0     0       0      0      0
15    1     0       0         0      0         0     0       1      0      0
16    1     0       0         0      0         0     0       0      0      0
17    1     0       0         0      0         0     0       0      0      0
18    1     0       0         0      0         0     0       0      0      0
19    1     0       0         0      0         0     0       0      0      0

    Ground  Ice  Normal  Poison  Psychic  Rock  Steel  Water
0        0    0       0       1        0     0      0      0
1        0    0       0       1        0     0      0      0
2        0    0       0       1        0     0      0      0
3        0    0       0       1        0     0      0      0
4        0    0       0       0        0     0      0      0
5        0    0       0       0        0     0      0      0
6        0    0       0       0        0     0      0      0
7        0    0       0       0        0     0      0      0
8        0    0       0       0        0     0      0      0
9        0    0       0       0        0     0      0      1
10       0    0       0       0        0     0      0      1
11       0    0       0       0        0     0      0      1
12       0    0       0       0        0     0      0      1
13       0    0       0       0        0     0      0      0
14       0    0       0       0        0     0      0      0
15       0    0       0       0        0     0      0      0
16       0    0       0       1        0     0      0      0
17       0    0       0       1        0     0      0      0
18       0    0       0       1        0     0      0      0
19       0    0       0       1        0     0      0      0

## Problem Solving Iteration 3

Now we have encoded the pokemon types, we will identify the relationship between `Total` and the encoded fields. Our expectation is:

#### There are relationships between `Total` and the encoded pokemon type variables and we need to identify the correlations.

The information we need to collect is:

#### How to identify the relationship between `Total` and the encoded pokemon type fields?

There are multiple ways to answer this question. The easiest way is to use correlation. In the cell below, calculate the correlation of `Total` to each of the encoded fields. Rank the correlations and identify the #1 pokemon type that is most likely to have the highest `Total`.

In [6]:
# Add 'Total' to your encoded DataFrame (if not already included)
types_encoded['Total'] = df['Total']

# Compute the correlation of each type with 'Total'
correlations = types_encoded.corr()['Total'].drop('Total').sort_values(ascending=False)

print(correlations)

Dragon      0.229705
Psychic     0.124688
Steel       0.109703
Fire        0.078726
Fighting    0.077786
Ice         0.060248
Flying      0.059383
Dark        0.056154
Rock        0.032731
Electric    0.020971
Ground      0.015060
Ghost       0.003641
Water      -0.021665
Fairy      -0.036698
Grass      -0.052592
Poison     -0.090441
Normal     -0.105331
Bug        -0.145781
Name: Total, dtype: float64

# Bonus Question

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

In [7]:
df[df["Legendary"]]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Computed_Total
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True,580
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True,580
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True,580
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True,680
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True,780
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,600

# üé≤ Surprise Drill #1: Filtering & Counting
### Challenge: Find out how many Pok√©mon are ‚ÄúLegendary‚Äù and have a ‚ÄúTotal‚Äù stat greater than 600.

Step-by-step hints:
- You‚Äôll want to filter (select) rows based on two conditions:
- The "Legendary" column is True
- The "Total" column is greater than 600
- Then, count how many rows are left.

Questions to ask yourself:
- What operator checks if a column is True?
- What operator checks if a value is greater than 600?
- How do you combine two conditions in pandas?

In [8]:
df[(df["Legendary"]) & (df["Total"] > 600)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Computed_Total
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True,680
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True,780
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True,780
269,249,Lugia,Psychic,Flying,680,106,90,130,90,154,110,2,True,680
270,250,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,True,680
418,380,LatiasMega Latias,Dragon,Psychic,700,80,100,120,140,150,110,3,True,700
420,381,LatiosMega Latios,Dragon,Psychic,700,80,130,100,160,120,110,3,True,700
421,382,Kyogre,Water,NaN,670,100,100,90,150,140,90,3,True,670
422,382,KyogrePrimal Kyogre,Water,NaN,770,100,150,90,180,160,90,3,True,770
423,383,Groudon,Ground,NaN,670,100,150,140,100,90,90,3,True,670
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True,770
425,384,Rayquaza,Dragon,Flying,680,105,150,90,150,90,95,3,True,680
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True,780
540,483,Dialga,Steel,Dragon,680,100,120,120,150,100,90,4,True,680
541,484,Palkia,Water,Dragon,680,90,120,100,150,120,100,4,True,680
543,486,Regigigas,Normal,NaN,670,110,160,110,80,110,100,4,True,670
544,487,GiratinaAltered Forme,Ghost,Dragon,680,150,100,120,100,120,90,4,True,680
545,487,GiratinaOrigin Forme,Ghost,Dragon,680,150,120,100,120,100,90,4,True,680
552,493,Arceus,Normal,NaN,720,120,120,120,120,120,120,4,True,720
706,643,Reshiram,Dragon,Fire,680,100,120,100,150,120,90,5,True,680
707,644,Zekrom,Dragon,Electric,680,100,150,120,120,100,90,5,True,680
710,646,Kyurem,Dragon,Ice,660,125,130,90,130,90,95,5,True,660
711,646,KyuremBlack Kyurem,Dragon,Ice,700,125,170,100,120,90,95,5,True,700
712,646,KyuremWhite Kyurem,Dragon,Ice,700,125,120,90,170,100,95,5,True,700
792,716,Xerneas,Fairy,NaN,680,126,131,95,131,98,99,6,True,680
793,717,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True,680
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,700
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,680

# Drill #2: Group and Aggregate
### Find the average "Total" stat for each Pok√©mon "Type 1".

Display the top 5 types with the highest average "Total".

In [9]:
type1_total_mean = df.groupby("Type 1")["Total"].mean()

type1_total_mean.sort_values(ascending=False).head()

# avg_price_hood = airbnb.groupby("neighbourhood")["price_clean"].mean()

Type 1
Dragon     550.531250
Steel      487.703704
Flying     485.000000
Psychic    475.947368
Fire       458.076923
Name: Total, dtype: float64

## Each ‚ÄúType 1‚Äù (like Dragon, Steel, etc.) has a different number of Pok√©mon.

For example:
There might be 45 ‚ÄúWater‚Äù Pok√©mon

15 ‚ÄúDragon‚Äù Pok√©mon

20 ‚ÄúSteel‚Äù Pok√©mon
‚Ä¶and so on.

### The Task:
For each ‚ÄúType 1,‚Äù show:

The average ‚ÄúTotal‚Äù stat

The count of Pok√©mon that have that ‚ÄúType 1‚Äù

In [10]:
df.groupby("Type 1")["Total"].agg(["mean", "count"])

                mean  count
Type 1
Bug       378.927536     69
Dark      445.741935     31
Dragon    550.531250     32
Electric  443.409091     44
Fairy     413.176471     17
Fighting  416.444444     27
Fire      458.076923     52
Flying    485.000000      4
Ghost     439.562500     32
Grass     421.142857     70
Ground    437.500000     32
Ice       433.458333     24
Normal    401.683673     98
Poison    399.142857     28
Psychic   475.947368     57
Rock      453.750000     44
Steel     487.703704     27
Water     430.455357    112

### Drill #3: Filtering and Sorting
Find all Pok√©mon that are ‚ÄúLegendary‚Äù and have a ‚ÄúTotal‚Äù stat in the top 10% of all Pok√©mon.

Show their Name, Type 1, Total, and Legendary status.

Sort them from highest to lowest Total.

Hint: In Pandas, filtering rows based on a column usually looks like:

filtered_df = original_df[condition]

In [20]:
top_10_cutoff = df["Total"].quantile(0.90) # Find the 90th percentile cutoff for ‚ÄúTotal‚Äù:
top_10_cutoff # output: np.float64(600.0)

# Filter for Legendary Pok√©mon who have Total ‚â• top_10_cutoff
filtered_legends = df[(df["Legendary"] == True) & (df["Total"] >= top_10_cutoff)]
filtered_legends.head(20) # output = array

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Computed_Total
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True,680
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True,780
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True,780
269,249,Lugia,Psychic,Flying,680,106,90,130,90,154,110,2,True,680
270,250,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,True,680
417,380,Latias,Dragon,Psychic,600,80,80,90,110,130,110,3,True,600
418,380,LatiasMega Latias,Dragon,Psychic,700,80,100,120,140,150,110,3,True,700
419,381,Latios,Dragon,Psychic,600,80,90,80,130,110,110,3,True,600
420,381,LatiosMega Latios,Dragon,Psychic,700,80,130,100,160,120,110,3,True,700
421,382,Kyogre,Water,NaN,670,100,100,90,150,140,90,3,True,670
422,382,KyogrePrimal Kyogre,Water,NaN,770,100,150,90,180,160,90,3,True,770
423,383,Groudon,Ground,NaN,670,100,150,140,100,90,90,3,True,670
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True,770
425,384,Rayquaza,Dragon,Flying,680,105,150,90,150,90,95,3,True,680
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True,780
427,385,Jirachi,Steel,Psychic,600,100,100,100,100,100,100,3,True,600
428,386,DeoxysNormal Forme,Psychic,NaN,600,50,150,50,150,50,150,3,True,600
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,600
430,386,DeoxysDefense Forme,Psychic,NaN,600,50,70,160,70,160,90,3,True,600
431,386,DeoxysSpeed Forme,Psychic,NaN,600,50,95,90,95,90,180,3,True,600

In [18]:

# Select only the columns you want (Name, Type 1, Total, Legendary):
filtered_legends = filtered_legends[["Name", "Type 1", "Total", "Legendary"]]

filtered_legends.head(20)

                      Name   Type 1  Total  Legendary
163    MewtwoMega Mewtwo X  Psychic    780       True
164    MewtwoMega Mewtwo Y  Psychic    780       True
426  RayquazaMega Rayquaza   Dragon    780       True
422    KyogrePrimal Kyogre    Water    770       True
424  GroudonPrimal Groudon   Ground    770       True
552                 Arceus   Normal    720       True
796    DiancieMega Diancie     Rock    700       True
420      LatiosMega Latios   Dragon    700       True
418      LatiasMega Latias   Dragon    700       True
712     KyuremWhite Kyurem   Dragon    700       True
711     KyuremBlack Kyurem   Dragon    700       True
798     HoopaHoopa Unbound  Psychic    680       True
707                 Zekrom   Dragon    680       True
545   GiratinaOrigin Forme    Ghost    680       True
541                 Palkia    Water    680       True
540                 Dialga    Steel    680       True
706               Reshiram   Dragon    680       True
269                  Lugia  Psychic    680       True
425               Rayquaza   Dragon    680       True
544  GiratinaAltered Forme    Ghost    680       True

In [19]:
# Sort by ‚ÄúTotal‚Äù descending:
filtered_legends = filtered_legends.sort_values(by="Total", ascending=False)

filtered_legends.head(20)

                      Name   Type 1  Total  Legendary
163    MewtwoMega Mewtwo X  Psychic    780       True
426  RayquazaMega Rayquaza   Dragon    780       True
164    MewtwoMega Mewtwo Y  Psychic    780       True
422    KyogrePrimal Kyogre    Water    770       True
424  GroudonPrimal Groudon   Ground    770       True
552                 Arceus   Normal    720       True
712     KyuremWhite Kyurem   Dragon    700       True
711     KyuremBlack Kyurem   Dragon    700       True
418      LatiasMega Latias   Dragon    700       True
420      LatiosMega Latios   Dragon    700       True
796    DiancieMega Diancie     Rock    700       True
269                  Lugia  Psychic    680       True
793                Yveltal     Dark    680       True
270                  Ho-oh     Fire    680       True
792                Xerneas    Fairy    680       True
544  GiratinaAltered Forme    Ghost    680       True
425               Rayquaza   Dragon    680       True
162                 Mewtwo  Psychic    680       True
706               Reshiram   Dragon    680       True
540                 Dialga    Steel    680       True