<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Cleaning-Data" data-toc-modified-id="Cleaning-Data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Cleaning Data</a></span><ul class="toc-item"><li><span><a href="#Null-values" data-toc-modified-id="Null-values-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Null values</a></span><ul class="toc-item"><li><span><a href="#Cleaning-Null-Values" data-toc-modified-id="Cleaning-Null-Values-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Cleaning Null Values</a></span></li><li><span><a href="#Checking-for-Null-Values" data-toc-modified-id="Checking-for-Null-Values-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Checking for Null Values</a></span></li><li><span><a href="#Dropping-Null-Values" data-toc-modified-id="Dropping-Null-Values-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>Dropping Null Values</a></span></li><li><span><a href="#Filling-Null-Values" data-toc-modified-id="Filling-Null-Values-1.1.4"><span class="toc-item-num">1.1.4&nbsp;&nbsp;</span>Filling Null Values</a></span></li><li><span><a href="#ðŸ’¡-Check-for-understanding" data-toc-modified-id="ðŸ’¡-Check-for-understanding-1.1.5"><span class="toc-item-num">1.1.5&nbsp;&nbsp;</span>ðŸ’¡ Check for understanding</a></span></li></ul></li><li><span><a href="#Dealing-with-Duplicates" data-toc-modified-id="Dealing-with-Duplicates-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Dealing with Duplicates</a></span><ul class="toc-item"><li><span><a href="#Identifying-Duplicates" data-toc-modified-id="Identifying-Duplicates-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Identifying Duplicates</a></span></li><li><span><a href="#Removing-Duplicates" data-toc-modified-id="Removing-Duplicates-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Removing Duplicates</a></span></li><li><span><a href="#Removing-Duplicates-Based-on-Specific-Columns" data-toc-modified-id="Removing-Duplicates-Based-on-Specific-Columns-1.2.3"><span class="toc-item-num">1.2.3&nbsp;&nbsp;</span>Removing Duplicates Based on Specific Columns</a></span></li><li><span><a href="#Resetting-the-Index" data-toc-modified-id="Resetting-the-Index-1.2.4"><span class="toc-item-num">1.2.4&nbsp;&nbsp;</span>Resetting the Index</a></span></li></ul></li><li><span><a href="#Formatting-Data" data-toc-modified-id="Formatting-Data-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Formatting Data</a></span><ul class="toc-item"><li><span><a href="#Formatting-Numeric-Values" data-toc-modified-id="Formatting-Numeric-Values-1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>Formatting Numeric Values</a></span></li><li><span><a href="#Formatting-Strings" data-toc-modified-id="Formatting-Strings-1.3.2"><span class="toc-item-num">1.3.2&nbsp;&nbsp;</span>Formatting Strings</a></span></li><li><span><a href="#Formatting-Dates" data-toc-modified-id="Formatting-Dates-1.3.3"><span class="toc-item-num">1.3.3&nbsp;&nbsp;</span>Formatting Dates</a></span></li></ul></li><li><span><a href="#Cleaning-Column-Names" data-toc-modified-id="Cleaning-Column-Names-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Cleaning Column Names</a></span></li></ul></li><li><span><a href="#Using-apply(),-map(),-and-applymap()" data-toc-modified-id="Using-apply(),-map(),-and-applymap()-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Using <code>apply()</code>, <code>map()</code>, and <code>applymap()</code></a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Apply()" data-toc-modified-id="Apply()-2.0.1"><span class="toc-item-num">2.0.1&nbsp;&nbsp;</span><code>Apply()</code></a></span></li><li><span><a href="#Map()" data-toc-modified-id="Map()-2.0.2"><span class="toc-item-num">2.0.2&nbsp;&nbsp;</span><code>Map()</code></a></span></li><li><span><a href="#applyMap()" data-toc-modified-id="applyMap()-2.0.3"><span class="toc-item-num">2.0.3&nbsp;&nbsp;</span><code>applyMap()</code></a></span></li><li><span><a href="#More-examples" data-toc-modified-id="More-examples-2.0.4"><span class="toc-item-num">2.0.4&nbsp;&nbsp;</span>More examples</a></span><ul class="toc-item"><li><span><a href="#Comparing-Map-and-Apply" data-toc-modified-id="Comparing-Map-and-Apply-2.0.4.1"><span class="toc-item-num">2.0.4.1&nbsp;&nbsp;</span>Comparing Map and Apply</a></span></li><li><span><a href="#Calculating-the-length-of-the-name" data-toc-modified-id="Calculating-the-length-of-the-name-2.0.4.2"><span class="toc-item-num">2.0.4.2&nbsp;&nbsp;</span>Calculating the length of the name</a></span></li><li><span><a href="#Converting-to-float-some-columns-with-applymap()" data-toc-modified-id="Converting-to-float-some-columns-with-applymap()-2.0.4.3"><span class="toc-item-num">2.0.4.3&nbsp;&nbsp;</span>Converting to float some columns with applymap()</a></span></li><li><span><a href="#Modifying-cloumns-names-with-apply()" data-toc-modified-id="Modifying-cloumns-names-with-apply()-2.0.4.4"><span class="toc-item-num">2.0.4.4&nbsp;&nbsp;</span>Modifying cloumns names with apply()</a></span></li></ul></li><li><span><a href="#ðŸ’¡-Check-for-understanding" data-toc-modified-id="ðŸ’¡-Check-for-understanding-2.0.5"><span class="toc-item-num">2.0.5&nbsp;&nbsp;</span>ðŸ’¡ Check for understanding</a></span></li><li><span><a href="#ðŸ’¡-Check-for-understanding" data-toc-modified-id="ðŸ’¡-Check-for-understanding-2.0.6"><span class="toc-item-num">2.0.6&nbsp;&nbsp;</span>ðŸ’¡ Check for understanding</a></span></li></ul></li></ul></li><li><span><a href="#Filtering-Data" data-toc-modified-id="Filtering-Data-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Filtering Data</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Creating-a-condition" data-toc-modified-id="Creating-a-condition-3.0.1"><span class="toc-item-num">3.0.1&nbsp;&nbsp;</span>Creating a condition</a></span></li><li><span><a href="#Filtering-df" data-toc-modified-id="Filtering-df-3.0.2"><span class="toc-item-num">3.0.2&nbsp;&nbsp;</span>Filtering df</a></span></li><li><span><a href="#Using-multiple-conditions" data-toc-modified-id="Using-multiple-conditions-3.0.3"><span class="toc-item-num">3.0.3&nbsp;&nbsp;</span>Using multiple conditions</a></span></li></ul></li></ul></li><li><span><a href="#More-Data-Manipulation" data-toc-modified-id="More-Data-Manipulation-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>More Data Manipulation</a></span><ul class="toc-item"><li><span><a href="#Setting-the-index" data-toc-modified-id="Setting-the-index-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Setting the index</a></span></li><li><span><a href="#Adding/removing-rows-and/or-columns" data-toc-modified-id="Adding/removing-rows-and/or-columns-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Adding/removing rows and/or columns</a></span></li><li><span><a href="#ðŸ’¡-Check-for-understanding" data-toc-modified-id="ðŸ’¡-Check-for-understanding-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>ðŸ’¡ Check for understanding</a></span></li></ul></li><li><span><a href="#Summary" data-toc-modified-id="Summary-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Summary</a></span></li></ul></div>

# Cleaning Data

## Null values

Null values (also known as missing values) are common in datasets and can hinder data analysis and modeling. It is essential to handle null values appropriately to ensure accurate and reliable results. Pandas provides various methods to clean and handle null values in datasets.

In Python, `None` is a special constant that represents the absence of a value. It is commonly used to indicate that a variable or function has no value or hasn't been assigned any value. For example, if a function does not explicitly return a value, it implicitly returns `None`.

On the other hand, `NaN` stands for "Not a Number" and is a special value used to represent missing or undefined numerical data. `NaN` is part of the floating-point representation and is commonly used in numeric data structures like Pandas DataFrames and Series to indicate missing or invalid numerical values.



### Cleaning Null Values

1. Checking for Null Values:
   - Use `isnull()` method to check for null values in a DataFrame or Series.
   - Use `notnull()` method to check for non-null values in a DataFrame or Series.

2. Dropping Null Values:
   - Use `dropna()` method to remove rows with null values from a DataFrame.
   - Use `dropna(axis=1)` to remove columns with null values.

3. Filling Null Values:
   - Use `fillna(value)` method to replace null values with a specific value.
   - Use `fillna(method='ffill')` to forward-fill null values with the previous non-null value.
   - Use `fillna(method='bfill')` to backward-fill null values with the next non-null value.

### Checking for Null Values

In [1]:
import pandas as pd

# Load Titanic dataset from an online source
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/titanic_train.csv'
df = pd.read_csv(url)

In [2]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [3]:
# Checking for Null Values
df.isnull()  # Returns a DataFrame with True where values are null
# isnull is an alias of isna

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

When working with large datasets, using `isna()` or `isnull()` along with `any()` and `sum()` in Pandas becomes essential for quick and efficient data quality assessment.

In [4]:
# Check for null values in each column
df.isna().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
dtype: bool

sum() calculates the sum of each row, considering True as 1 and False as 0.

In [5]:
# Count the number of null values in each column
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

If we add the parameter `axis=1` with the `sum()` function, we can calculate the sum of each row (along the columns) of the DataFrame `df`. This results in a Series that contains the count of null values in each row.

In [6]:
df.isna().sum(axis=1)

0      1
1      0
2      1
3      0
4      1
      ..
886    1
887    0
888    2
889    0
890    1
Length: 891, dtype: int64

### Dropping Null Values

In [7]:
# Dropping rows with Null Values
df.dropna()  # Removes rows with null values

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

However, as we can see below in the DataFrame, the rows with NaN values have not been removed. To execute the change, it is necessary to use the `inplace=True` option: `df.dropna(inplace=True)` or assign it to a variable such as df = df.dropna().

In [8]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [9]:
# Dropping columns with  Null Values
df.dropna(axis=1)

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare
0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.2500
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,71.2833
2,3,1,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,7.9250
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803,53.1000
4,5,0,3,"Allen, Mr. William Henry",male,0,0,373450,8.0500
...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,0,0,211536,13.0000
887,888,1,1,"Graham, Miss. Margaret Edith",female,0,0,112053,30.0000
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,1,2,W./C. 6607,23.4500
889,890,1,1,"Behr, Mr. Karl Howell",male,0,0,111369,30.0000
890,891,0,3,"Dooley, Mr. Patrick",male,0,0,370376,7.7500

In the `dropna()` method of Pandas DataFrame, the `subset`, `how`, and `thresh` parameters are used to control the behavior of dropping rows or columns containing NaN (null) values, when we don't want to drop them just because they have *one* null value:

- `subset`: It allows you to specify a subset of columns on which to apply the `dropna()` operation. Only the rows containing NaN values in the specified subset of columns will be dropped.

In [10]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [11]:
df.dropna(subset=['Cabin']).tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

- `how`: It specifies the condition for dropping rows. It can take the values 'any', which means to drop rows containing any NaN values in the `subset`, or 'all', which means to drop rows containing all NaN values in the `subset`.

In [12]:
df.dropna(how='all').tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

- `thresh`: It sets a minimum threshold for the number of non-null values that a row must have in the `subset` in order to be kept. Rows with fewer non-null values than the specified threshold will be dropped.

In [19]:
df.dropna(thresh=11).tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.125,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.750,NaN,Q

### Filling Null Values

`fillna()` is a Pandas method used to replace NaN (null) values in a DataFrame or Series with specified values.
- You can use `inplace=True` to modify the DataFrame directly.

In [20]:
# Filling Null Values
df.fillna(-1).tail()  # Replaces null values with -1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,-1,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,-1.0,1,2,W./C. 6607,23.45,-1,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,-1,Q

Careful if we assign a different data type, since Pandas will change the data type of the whole column. For example:

In [21]:
df.dtypes # age is a float

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [22]:
df_na = df.fillna("na")
df_na.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,na,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,na,1,2,W./C. 6607,23.45,na,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,na,Q

In [23]:
df_na.dtypes # age is not a float anymore, it's an object now

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age             object
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

To avoid this, we can select manually in which column to apply the `fillna()`

In [24]:
df.Cabin.fillna("na").tail()

886      na
887     B42
888      na
889    C148
890      na
Name: Cabin, dtype: object

We can also use the mean(), median() etc. to fill the null values.

In [25]:
df.tail() # lets see where we have a NaN in Age in the last rows

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [26]:
df.Age.fillna(df.Age.mean()).tail() #after filling with the mean, lets see how it would look

886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: Age, dtype: float64

- Two common methods for filling NaN values are `ffill`, which forward fills using the last valid value, and `bfill`, which backward fills using the next valid value.

In [27]:
# Forward-fill null values in the Age column
df['Age'].fillna(method='ffill').tail()

<ipython-input-27-b8c93fa75b3f>:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Age'].fillna(method='ffill').tail()

886    27.0
887    19.0
888    19.0
889    26.0
890    32.0
Name: Age, dtype: float64

In [28]:
# Backward-fill null values in the Age column
df['Age'].fillna(method='bfill').tail()

<ipython-input-28-d20865d79da5>:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Age'].fillna(method='bfill').tail()

886    27.0
887    19.0
888    26.0
889    26.0
890    32.0
Name: Age, dtype: float64

### ðŸ’¡ Check for understanding

Consider the following DataFrame containing information about students:

```python
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Cathy', None, 'Eva'],
    'Age': [25, 30, None, 22, 28],
    'Gender': ['Female', None, 'Female', 'Male', None],
    'Score': [90, None, 78, None, 85]
}

df_students = pd.DataFrame(data)
```

Your task is to perform the following data cleaning tasks:

1. Check for null values in the DataFrame using `isna()` or `isnull()`.

2. Replace the null values in the 'Age' column with the average age of the students.

3. Replace the null values in the 'Gender' column with "Female".

4. Drop any rows that have null values in the 'Name' column.

5. Forward fill (ffill) the null values in the 'Score' column with the previous valid value.

6. After performing all the cleaning steps, print the cleaned DataFrame.

In [29]:
# Your code goes here
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Cathy', None, 'Eva'],
    'Age': [25, 30, None, 22, 28],
    'Gender': ['Female', None, 'Female', 'Male', None],
    'Score': [90, None, 78, None, 85]
}

df_students = pd.DataFrame(data)

In [30]:
df_students.isna().sum()

Name      1
Age       1
Gender    2
Score     2
dtype: int64

In [32]:
df_students["Age"].fillna(df_students["Age"].mean(), inplace=True)

<ipython-input-32-9ac0b8176d34>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_students["Age"].fillna(df_students["Age"].mean(), inplace=True)

In [34]:
df_students["Gender"].fillna("Female", inplace=True)
df_students["Gender"]

<ipython-input-34-b9475067ee83>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_students["Gender"].fillna("Female", inplace=True)

0    Female
1    Female
2    Female
3      Male
4    Female
Name: Gender, dtype: object

In [35]:
df_students.dropna(subset=["Name"], inplace=True)
df_students

    Name    Age  Gender  Score
0  Alice  25.00  Female   90.0
1    Bob  30.00  Female    NaN
2  Cathy  26.25  Female   78.0
4    Eva  28.00  Female   85.0

## Dealing with Duplicates

In data analysis, it's common to encounter duplicate values in datasets. Duplicates can distort our analysis and lead to incorrect conclusions. Fortunately, pandas provides efficient methods to handle duplicates.

### Identifying Duplicates

To identify duplicate rows in a DataFrame, we can use the `duplicated()` method, which returns a boolean Series indicating whether each row is a duplicate or not. We can then use the `sum()` method to count the total number of duplicates.

In [36]:
df.duplicated().sum()

0

In [37]:
df.duplicated().any()

False

To check for duplicates in specific columns, we can use the `duplicated()` method with the `subset` parameter, or just access first to the column and then check with duplicated().

In [38]:
# Check for duplicates in specific columns
df.duplicated(subset=['Age']).sum()

802

In [39]:
df.Age.duplicated().any()

True

### Removing Duplicates

To remove duplicates from a DataFrame, we can use the `drop_duplicates()` method. By default, this method keeps the first occurrence of each duplicated row and removes the rest.

In [40]:
# Remove duplicates and update the DataFrame
df.drop_duplicates(inplace=True) # we know there are none but this is how we would do it

### Removing Duplicates Based on Specific Columns

Sometimes, we may want to remove duplicates based on specific columns. We can pass a subset of column names to the `drop_duplicates()` method to achieve this.

In [ ]:
# Remove duplicates based on specific columns
df.drop_duplicates(subset=['Sex', 'Age']) #lets look at the number of rows if we do this

By default, `drop_duplicates()` keeps the first occurrence of each duplicated row. If we want to keep the last occurrence instead, we can set the `keep` parameter to `'last'`.

In [ ]:
# Keep the last occurrence of duplicates
df.drop_duplicates(keep='last', inplace=True) # we know there are none but this is how we would do it

### Resetting the Index

When removing duplicates, the DataFrame index may have gaps due to removed rows. To reset the index after removing duplicates, we can use the `reset_index()` method with the `drop=True` parameter.

In [44]:
# Remove duplicates and reset the index
df_without_duplicates = df.copy()
df_without_duplicates = df.drop_duplicates(subset=['Sex', 'Age'])
df_without_duplicates.tail() # look at the gaps in the index

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
819,820,0,3,"Skoog, Master. Karl Thorsten",male,10.0,3,2,347088,27.9000,NaN,S
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0000,B28,NaN
843,844,0,3,"Lemberopolous, Mr. Peter L",male,34.5,0,0,2683,6.4375,NaN,C
851,852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C

In [45]:
df_without_duplicates.reset_index(drop=True, inplace=True)
df_without_duplicates.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
142,820,0,3,"Skoog, Master. Karl Thorsten",male,10.0,3,2,347088,27.9000,NaN,S
143,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0000,B28,NaN
144,844,0,3,"Lemberopolous, Mr. Peter L",male,34.5,0,0,2683,6.4375,NaN,C
145,852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S
146,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C

## Formatting Data

### Formatting Numeric Values


1. `round()` Method:
   - Rounds numeric values to a specified number of decimal places.

2. `format()` Method:
   - Formats numeric values as strings for better representation.

In [46]:
num = 123456.78910

In [47]:
round(num,2)

123456.79

In [52]:
format(num, '.1f') # .1f

'123456.8'

### Formatting Strings

Check the data structures lesson for more string operations and formatting. Here we'll just look at some of them.

1. **Using f-strings (formatted string literals):**
   - f-strings are introduced in Python 3.6 and provide a concise and readable way to format strings.
   - Place variables or expressions inside curly braces `{}` in the string, preceded by the `f` character.

In [55]:
name = "John"
age = 30
print(f"My name is {name} and I am {age} years old.")

My name is John and I am 30 years old.

2. **Using the `format()` method:**
   - The `format()` method can be applied to a string and accepts positional or keyword arguments to replace placeholders.
   - Placeholders are represented by curly braces `{}` and can be indexed or named.

In [56]:
print("My name is {} and I am {} years old.".format(name, age))

My name is John and I am 30 years old.

3. **Using `%` formatting:**
   - `%` formatting is an older method, similar to C-style formatting, but less recommended due to its limitations and lack of flexibility.
   - Placeholders are represented by `%` followed by format specifiers, like `%s` for strings and `%d` for integers.

In [58]:
print("My name is %s and I am %d years old." % (name, age))

My name is John and I am 30 years old.

Let's look at some methods for formatting strings.

In [59]:
string = 'HELLO world'

In [60]:
string.lower()

'hello world'

In [61]:
string.upper()

'HELLO WORLD'

In [62]:
string.title()

'Hello World'

In [63]:
len(string)

11

In [64]:
'   Hello World   '.lstrip()

'Hello World   '

In [65]:
'   Hello World   '.rstrip()

'   Hello World'

In [66]:
'   Hello World   '.strip()

'Hello World'

In [67]:
string.split(" ")

['HELLO', 'world']

In [68]:
string.replace('HELLO','Hola')

'Hola world'

### Formatting Dates

We will study this in another Notebook.

## Cleaning Column Names

We can acccess the columns using `df.columns`

In [69]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In order to modify them, we can assign new column names to `df.columns` by doing `df.columns = [list_of_new_column_names]` or we can use the `rename()` method to just modify a few of them.

In [70]:
# We need the whole list of new column names
# just modified SibSP to sib_sp

df.columns = ['passenger_id', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSP',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

df.columns

Index(['passenger_id', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSP',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [71]:
# We just need a dictionary with the columns we want to modify
# Getting the name back as it was

df.rename(columns= {'passenger_id': 'PassengerId'}, inplace=True)
print(df.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSP',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

# Using `apply()`, `map()`, and `applymap()`

- `apply()`
    - Apply a custom function to a Series.
    - Useful for element-wise transformations.
    - Example: `df['squared_numbers'] = df['numbers'].apply(lambda x: x ** 2)`

- `map()`
    - Transform Series elements based on a dictionary.
    - Replaces elements with corresponding dictionary values.
    - Example: `df['gender_mapped'] = df['gender'].map({'M': 'Male', 'F': 'Female'})`

- `applymap()`
    - Apply a custom function to every element in a DataFrame.
    - Useful for element-wise transformations on entire DataFrames.
    - Example: `df = df.applymap(lambda x: x.upper())`

###Â `Apply()`

In [76]:
# Applying a custom function using apply()
def get_yob(age):
    return 1912-age #titanic sank in 1912, we will assume is when Age was recorded

df['yob'] = df['Age'].apply(get_yob)
df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSP,Parch,Ticket,Fare,Cabin,Embarked,yob
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1890.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1874.0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1886.0

In [77]:
df['yob'].isna().sum()

177

In [ ]:
# Apply and applymap are great for using lambda! This is the same as above

df['yob'] = df['Age'].apply(lambda age: 1912-age)

In [82]:
df['age_and_gender'] = df[['Age', 'Sex']].apply(lambda x: str(x['Age']) + ' ' + x['Sex'], axis=1)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSP,Parch,Ticket,Fare,Cabin,Embarked,yob,age_and_gender
0,1,0,3,"BRAUND, MR. OWEN HARRIS",MALE,22.0,1,0,A/5 21171,7.25,NaN,S,1890.0,22.0 MALE
1,2,1,1,"CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS TH...",FEMALE,38.0,1,0,PC 17599,71.28,C85,C,1874.0,38.0 FEMALE
2,3,1,3,"HEIKKINEN, MISS. LAINA",FEMALE,26.0,0,0,STON/O2. 3101282,7.92,NaN,S,1886.0,26.0 FEMALE
3,4,1,1,"FUTRELLE, MRS. JACQUES HEATH (LILY MAY PEEL)",FEMALE,35.0,1,0,113803,53.10,C123,S,1877.0,35.0 FEMALE
4,5,0,3,"ALLEN, MR. WILLIAM HENRY",MALE,35.0,0,0,373450,8.05,NaN,S,1877.0,35.0 MALE

In the example above, we can see that to create a new column in pandas, we can simply assign a new Series or list to a new column name within the DataFrame.

To edit the information in a whole column in pandas, you can simply assign a new list or array of values to the column you want to modify.

In [78]:
df['Fare'] = df['Fare'].apply(lambda num: round(num, 2))
df['Fare']

0       7.25
1      71.28
2       7.92
3      53.10
4       8.05
       ...
886    13.00
887    30.00
888    23.45
889    30.00
890     7.75
Name: Fare, Length: 891, dtype: float64

###Â `Map()`

In [ ]:
# Using map() to transform the 'Sex' column
gender_mapping = {'male': 0, 'female': 1}
df['Gender_mapped'] = df['Sex'].map(gender_mapping)
df.head()

In [ ]:
# Lets do the same with apply and lambda
df.Sex.apply(lambda x: 0 if x=="male" else 1)

###Â `applyMap()`

In [79]:
# Using applymap() to convert all string columns to uppercase
df = df.applymap(lambda x: x.upper() if isinstance(x, str) else x)

# Displaying the modified DataFrame
df.head()

<ipython-input-79-f62c9bbf68a8>:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.upper() if isinstance(x, str) else x)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSP,Parch,Ticket,Fare,Cabin,Embarked,yob
0,1,0,3,"BRAUND, MR. OWEN HARRIS",MALE,22.0,1,0,A/5 21171,7.25,NaN,S,1890.0
1,2,1,1,"CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS TH...",FEMALE,38.0,1,0,PC 17599,71.28,C85,C,1874.0
2,3,1,3,"HEIKKINEN, MISS. LAINA",FEMALE,26.0,0,0,STON/O2. 3101282,7.92,NaN,S,1886.0
3,4,1,1,"FUTRELLE, MRS. JACQUES HEATH (LILY MAY PEEL)",FEMALE,35.0,1,0,113803,53.10,C123,S,1877.0
4,5,0,3,"ALLEN, MR. WILLIAM HENRY",MALE,35.0,0,0,373450,8.05,NaN,S,1877.0

### More examples

#### Comparing Map and Apply

We have a column called "Embarked" containing three possible values: 'C', 'Q', and 'S'. We want to map these values to 0, 1 and 2. In this case, `apply()` with a lambda function would be complex due to the if-elif-else conditions, but `map()` can handle it more easily.

In [83]:
# Mapping 'Embarked' values to their full names using map()
embarked_mapping = {'C': 0, 'Q': 1, 'S': 2}
df['Embarked_nr'] = df['Embarked'].map(embarked_mapping)

# Display the first few rows of the updated DataFrame
df[['Name', 'Embarked_nr']].head()

                                                Name  Embarked_nr
0                            BRAUND, MR. OWEN HARRIS          2.0
1  CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS TH...          0.0
2                             HEIKKINEN, MISS. LAINA          2.0
3       FUTRELLE, MRS. JACQUES HEATH (LILY MAY PEEL)          2.0
4                           ALLEN, MR. WILLIAM HENRY          2.0

Why is it a float?

In [84]:
df.isna().sum() # Because Embarked has null values and it converted it to float to handle NaN value

PassengerId         0
Survived            0
Pclass              0
Name                0
Sex                 0
Age               177
SibSP               0
Parch               0
Ticket              0
Fare                0
Cabin             687
Embarked            2
yob               177
age_and_gender      0
Embarked_nr         2
dtype: int64

In [ ]:
# Mapping 'Embarked' values to their full names using apply() and a lambda function
df['Embarked'].apply(lambda x: 0 if x == 'C' else (1 if x == 'Q' else 2))

#Note that here it doesn't convert it to float

#### Calculating the length of the name

What if we wanted to create a new column with the length of the name?

In [85]:
df['Name_length'] = df.Name.apply(len)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSP,Parch,Ticket,Fare,Cabin,Embarked,yob,age_and_gender,Embarked_nr,Name_length
0,1,0,3,"BRAUND, MR. OWEN HARRIS",MALE,22.0,1,0,A/5 21171,7.25,NaN,S,1890.0,22.0 MALE,2.0,23
1,2,1,1,"CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS TH...",FEMALE,38.0,1,0,PC 17599,71.28,C85,C,1874.0,38.0 FEMALE,0.0,51
2,3,1,3,"HEIKKINEN, MISS. LAINA",FEMALE,26.0,0,0,STON/O2. 3101282,7.92,NaN,S,1886.0,26.0 FEMALE,2.0,22
3,4,1,1,"FUTRELLE, MRS. JACQUES HEATH (LILY MAY PEEL)",FEMALE,35.0,1,0,113803,53.10,C123,S,1877.0,35.0 FEMALE,2.0,44
4,5,0,3,"ALLEN, MR. WILLIAM HENRY",MALE,35.0,0,0,373450,8.05,NaN,S,1877.0,35.0 MALE,2.0,24

#### Converting to float some columns with applymap()

Lets look just as an example, how to make float all the following columns: "PassengerId", "Survived", "Pclass"

In [86]:
df[["PassengerId", "Survived", "Pclass"]].applymap(float)

<ipython-input-86-8209967c6071>:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[["PassengerId", "Survived", "Pclass"]].applymap(float)

     PassengerId  Survived  Pclass
0            1.0       0.0     3.0
1            2.0       1.0     1.0
2            3.0       1.0     3.0
3            4.0       1.0     1.0
4            5.0       0.0     3.0
..           ...       ...     ...
886        887.0       0.0     2.0
887        888.0       1.0     1.0
888        889.0       0.0     3.0
889        890.0       1.0     1.0
890        891.0       0.0     3.0

[891 rows x 3 columns]

#### Modifying cloumns names with apply()

In [87]:
# I could also use the apply function by converting df.columns to Series
pd.Series(df.columns).apply(lambda col: col.lower())

0        passengerid
1           survived
2             pclass
3               name
4                sex
5                age
6              sibsp
7              parch
8             ticket
9               fare
10             cabin
11          embarked
12               yob
13    age_and_gender
14       embarked_nr
15       name_length
dtype: object

### ðŸ’¡ Check for understanding

Make the column Embarked_nr as an integer type.

- If you get an error, read the error, and think how you should proceed.
- If you decide to fill the null values, use the mode() since its a categorical variable.
- If you get another error, look at what mode() is returning in order to fix the error and convert to integer the Embarked_nr column.

In [ ]:
# Your code goes here

### ðŸ’¡ Check for understanding

You are given a dataset of students' exam scores here: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/student_performance.csv. Your task is to perform the following operations using pandas:

1. Read the CSV file into a DataFrame.
2. Create a new column "total_score" that calculates the total score for each student by summing their "math score," "reading score," and "writing score."
3. Create a new column "grade" that assigns a grade to each student based on the following criteria:
   - If the total score is >= 90, the grade is "A."
   - If the total score is >= 80 and < 90, the grade is "B."
   - If the total score is >= 70 and < 80, the grade is "C."
   - If the total score is >= 60 and < 70, the grade is "D."
   - If the total score is < 60, the grade is "F."
4. Convert all student names in the "gender" column to uppercase.
5. Create a new column "is_passed" that indicates whether each student has passed the exam or not. If the total score is >= 60, the student has passed; otherwise, they have failed.

In [ ]:
df_students = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/student_performance.csv")

In [ ]:
# Your code goes here

# Filtering Data

One of the primary tasks in dataset analysis is filtering rows.

When filtering DataFrames in Pandas, you can use boolean indexing to select specific rows based on certain conditions. Here's a step-by-step explanation:

1. Identify the column(s) you want to use as a filter condition. For example, in `housing_df` the column named 'SalePrice'.

2. Create a condition using a comparison operator (e.g., `>`, `<`, `==`, etc.) and the column(s) you want to filter. For instance, to filter all rows where the 'SalePrice' is greater than 10000, you would use `condition = housing_df['SalePrice'] > 10000`.

3. Use the condition to filter the DataFrame. You can do this by passing the condition inside square brackets to the DataFrame. For example, `filtered_df = housing_df[condition]` will create a new DataFrame `filtered_df` containing only the rows where the 'SalePrice' is greater than 10000.

Keep in mind that the condition should evaluate to a boolean Series with the same length as the DataFrame, indicating which rows to include (True) or exclude (False).

You can also combine multiple conditions using logical operators like `&` for 'and' and `|` for 'or'. For instance, to filter rows where the 'SalePrice' is greater than 10000 and the 'FullBath' is more than 1, you can use `condition = (housing_df['SalePrice'] > 10000) & (housing_df['FullBath'] > 1)`.

Filtering allows you to extract specific subsets of data from your DataFrame, making it easier to analyze and work with the data that meets your criteria.

### Creating a condition

In [88]:
df.Fare

0       7.25
1      71.28
2       7.92
3      53.10
4       8.05
       ...
886    13.00
887    30.00
888    23.45
889    30.00
890     7.75
Name: Fare, Length: 891, dtype: float64

In [89]:
df.Fare.mean()

32.204175084175084

In [91]:
condition = df.Fare > df.Fare.mean()
condition

0      False
1       True
2      False
3       True
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Name: Fare, Length: 891, dtype: bool

### Filtering df

In [92]:
filtered_df = df[condition]
filtered_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSP,Parch,Ticket,Fare,Cabin,Embarked,yob,age_and_gender,Embarked_nr,Name_length
1,2,1,1,"CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS TH...",FEMALE,38.0,1,0,PC 17599,71.28,C85,C,1874.0,38.0 FEMALE,0.0,51
3,4,1,1,"FUTRELLE, MRS. JACQUES HEATH (LILY MAY PEEL)",FEMALE,35.0,1,0,113803,53.10,C123,S,1877.0,35.0 FEMALE,2.0,44
6,7,0,1,"MCCARTHY, MR. TIMOTHY J",MALE,54.0,0,0,17463,51.86,E46,S,1858.0,54.0 MALE,2.0,23
23,24,1,1,"SLOPER, MR. WILLIAM THOMPSON",MALE,28.0,0,0,113788,35.50,A6,S,1884.0,28.0 MALE,2.0,28
27,28,0,1,"FORTUNE, MR. CHARLES ALEXANDER",MALE,19.0,3,2,19950,263.00,C23 C25 C27,S,1893.0,19.0 MALE,2.0,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
856,857,1,1,"WICK, MRS. GEORGE DENNICK (MARY HITCHCOCK)",FEMALE,45.0,1,1,36928,164.87,NaN,S,1867.0,45.0 FEMALE,2.0,42
863,864,0,3,"SAGE, MISS. DOROTHY EDITH ""DOLLY""",FEMALE,NaN,8,2,CA. 2343,69.55,NaN,S,NaN,nan FEMALE,2.0,33
867,868,0,1,"ROEBLING, MR. WASHINGTON AUGUSTUS II",MALE,31.0,0,0,PC 17590,50.50,A24,S,1881.0,31.0 MALE,2.0,36
871,872,1,1,"BECKWITH, MRS. RICHARD LEONARD (SALLIE MONYPENY)",FEMALE,47.0,1,1,11751,52.55,D35,S,1865.0,47.0 FEMALE,2.0,48
879,880,1,1,"POTTER, MRS. THOMAS JR (LILY ALEXENIA WILSON)",FEMALE,56.0,0,1,11767,83.16,C50,C,1856.0,56.0 FEMALE,0.0,45

In [93]:
# or what is the same, inside the brackets I give True/False Series in order to filter
df[df.Fare > df.Fare.mean()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSP,Parch,Ticket,Fare,Cabin,Embarked,yob,age_and_gender,Embarked_nr,Name_length
1,2,1,1,"CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS TH...",FEMALE,38.0,1,0,PC 17599,71.28,C85,C,1874.0,38.0 FEMALE,0.0,51
3,4,1,1,"FUTRELLE, MRS. JACQUES HEATH (LILY MAY PEEL)",FEMALE,35.0,1,0,113803,53.10,C123,S,1877.0,35.0 FEMALE,2.0,44
6,7,0,1,"MCCARTHY, MR. TIMOTHY J",MALE,54.0,0,0,17463,51.86,E46,S,1858.0,54.0 MALE,2.0,23
23,24,1,1,"SLOPER, MR. WILLIAM THOMPSON",MALE,28.0,0,0,113788,35.50,A6,S,1884.0,28.0 MALE,2.0,28
27,28,0,1,"FORTUNE, MR. CHARLES ALEXANDER",MALE,19.0,3,2,19950,263.00,C23 C25 C27,S,1893.0,19.0 MALE,2.0,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
856,857,1,1,"WICK, MRS. GEORGE DENNICK (MARY HITCHCOCK)",FEMALE,45.0,1,1,36928,164.87,NaN,S,1867.0,45.0 FEMALE,2.0,42
863,864,0,3,"SAGE, MISS. DOROTHY EDITH ""DOLLY""",FEMALE,NaN,8,2,CA. 2343,69.55,NaN,S,NaN,nan FEMALE,2.0,33
867,868,0,1,"ROEBLING, MR. WASHINGTON AUGUSTUS II",MALE,31.0,0,0,PC 17590,50.50,A24,S,1881.0,31.0 MALE,2.0,36
871,872,1,1,"BECKWITH, MRS. RICHARD LEONARD (SALLIE MONYPENY)",FEMALE,47.0,1,1,11751,52.55,D35,S,1865.0,47.0 FEMALE,2.0,48
879,880,1,1,"POTTER, MRS. THOMAS JR (LILY ALEXENIA WILSON)",FEMALE,56.0,0,1,11767,83.16,C50,C,1856.0,56.0 FEMALE,0.0,45

### Using multiple conditions

In [94]:
# We can combine boolean operators with filters to add conditions
# boolean operators: and is &, or is |
df[(df.Fare > df.Fare.mean()) & (df.Fare <= 50)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSP,Parch,Ticket,Fare,Cabin,Embarked,yob,age_and_gender,Embarked_nr,Name_length
23,24,1,1,"SLOPER, MR. WILLIAM THOMPSON",MALE,28.0,0,0,113788,35.50,A6,S,1884.0,28.0 MALE,2.0,28
43,44,1,2,"LAROCHE, MISS. SIMONNE MARIE ANNE ANDREE",FEMALE,3.0,1,2,SC/PARIS 2123,41.58,NaN,C,1909.0,3.0 FEMALE,0.0,40
50,51,0,3,"PANULA, MASTER. JUHA NIILO",MALE,7.0,4,1,3101295,39.69,NaN,S,1905.0,7.0 MALE,2.0,26
55,56,1,1,"WOOLNER, MR. HUGH",MALE,NaN,0,0,19947,35.50,C52,S,NaN,nan MALE,2.0,17
59,60,0,3,"GOODWIN, MASTER. WILLIAM FREDERICK",MALE,11.0,5,2,CA 2144,46.90,NaN,S,1901.0,11.0 MALE,2.0,34
71,72,0,3,"GOODWIN, MISS. LILLIAN AMY",FEMALE,16.0,5,2,CA 2144,46.90,NaN,S,1896.0,16.0 FEMALE,2.0,26
83,84,0,1,"CARRAU, MR. FRANCISCO M",MALE,28.0,0,0,113059,47.10,NaN,S,1884.0,28.0 MALE,2.0,23
86,87,0,3,"FORD, MR. WILLIAM NEAL",MALE,16.0,1,3,W./C. 6608,34.38,NaN,S,1896.0,16.0 MALE,2.0,22
96,97,0,1,"GOLDSCHMIDT, MR. GEORGE B",MALE,71.0,0,0,PC 17754,34.65,A5,C,1841.0,71.0 MALE,0.0,25
145,146,0,2,"NICHOLLS, MR. JOSEPH CHARLES",MALE,19.0,1,1,C.A. 33112,36.75,NaN,S,1893.0,19.0 MALE,2.0,28
147,148,0,3,"FORD, MISS. ROBINA MAGGIE ""RUBY""",FEMALE,9.0,2,2,W./C. 6608,34.38,NaN,S,1903.0,9.0 FEMALE,2.0,32
164,165,0,3,"PANULA, MASTER. EINO VILJAMI",MALE,1.0,4,1,3101295,39.69,NaN,S,1911.0,1.0 MALE,2.0,28
170,171,0,1,"VAN DER HOEF, MR. WYCKOFF",MALE,61.0,0,0,111240,33.50,B19,S,1851.0,61.0 MALE,2.0,25
183,184,1,2,"BECKER, MASTER. RICHARD F",MALE,1.0,2,1,230136,39.00,F4,S,1911.0,1.0 MALE,2.0,25
185,186,0,1,"ROOD, MR. HUGH ROSCOE",MALE,NaN,0,0,113767,50.00,A32,S,NaN,nan MALE,2.0,21
266,267,0,3,"PANULA, MR. ERNESTI ARVID",MALE,16.0,4,1,3101295,39.69,NaN,S,1896.0,16.0 MALE,2.0,25
339,340,0,1,"BLACKWELL, MR. STEPHEN WEART",MALE,45.0,0,0,113784,35.50,T,S,1867.0,45.0 MALE,2.0,28
351,352,0,1,"WILLIAMS-LAMBERT, MR. FLETCHER FELLOWS",MALE,NaN,0,0,113510,35.00,C128,S,NaN,nan MALE,2.0,38
386,387,0,3,"GOODWIN, MASTER. SIDNEY LEONARD",MALE,1.0,5,2,CA 2144,46.90,NaN,S,1911.0,1.0 MALE,2.0,31
416,417,1,2,"DREW, MRS. JAMES VIVIAN (LULU THORNE CHRISTIAN)",FEMALE,34.0,1,1,28220,32.50,NaN,S,1878.0,34.0 FEMALE,2.0,47
436,437,0,3,"FORD, MISS. DOOLINA MARGARET ""DAISY""",FEMALE,21.0,2,2,W./C. 6608,34.38,NaN,S,1891.0,21.0 FEMALE,2.0,36
462,463,0,1,"GEE, MR. ARTHUR H",MALE,47.0,0,0,111320,38.50,E63,S,1865.0,47.0 MALE,2.0,17
480,481,0,3,"GOODWIN, MASTER. HAROLD VICTOR",MALE,9.0,5,2,CA 2144,46.90,NaN,S,1903.0,9.0 MALE,2.0,30
493,494,0,1,"ARTAGAVEYTIA, MR. RAMON",MALE,71.0,0,0,PC 17609,49.50,NaN,C,1841.0,71.0 MALE,0.0,23
515,516,0,1,"WALKER, MR. WILLIAM ANDERSON",MALE,47.0,0,0,36967,34.02,D46,S,1865.0,47.0 MALE,2.0,28
539,540,1,1,"FROLICHER, MISS. HEDWIG MARGARITHA",FEMALE,22.0,0,2,13568,49.50,B39,C,1890.0,22.0 FEMALE,0.0,34
549,550,1,2,"DAVIES, MASTER. JOHN MORGAN JR",MALE,8.0,1,1,C.A. 33112,36.75,NaN,S,1904.0,8.0 MALE,2.0,30
556,557,1,1,"DUFF GORDON, LADY. (LUCILLE CHRISTIANA SUTHERL...",FEMALE,48.0,1,0,11755,39.60,A16,C,1864.0,48.0 FEMALE,0.0,65
583,584,0,1,"ROSS, MR. JOHN HUGO",MALE,36.0,0,0,13049,40.12,A10,C,1876.0,36.0 MALE,0.0,19
596,597,1,2,"LEITCH, MISS. JESSIE WILLS",FEMALE,NaN,0,0,248727,33.00,NaN,S,NaN,nan FEMALE,2.0,26
602,603,0,1,"HARRINGTON, MR. CHARLES H",MALE,NaN,0,0,113796,42.40,NaN,S,NaN,nan MALE,2.0,25
608,609,1,2,"LAROCHE, MRS. JOSEPH (JULIETTE MARIE LOUISE LA...",FEMALE,22.0,1,2,SC/PARIS 2123,41.58,NaN,C,1890.0,22.0 FEMALE,0.0,53
618,619,1,2,"BECKER, MISS. MARION LOUISE",FEMALE,4.0,2,1,230136,39.00,F4,S,1908.0,4.0 FEMALE,2.0,27
625,626,0,1,"SUTTON, MR. FREDERICK",MALE,61.0,0,0,36963,32.32,D50,S,1851.0,61.0 MALE,2.0,21
638,639,0,3,"PANULA, MRS. JUHA (MARIA EMILIA OJALA)",FEMALE,41.0,0,5,3101295,39.69,NaN,S,1871.0,41.0 FEMALE,2.0,38
647,648,1,1,"SIMONIUS-BLUMER, COL. OBERST ALFONS",MALE,56.0,0,0,13213,35.50,A26,C,1856.0,56.0 MALE,0.0,35
670,671,1,2,"BROWN, MRS. THOMAS WILLIAM SOLOMON (ELIZABETH ...",FEMALE,40.0,1,1,29750,39.00,NaN,S,1872.0,40.0 FEMALE,2.0,61
678,679,0,3,"GOODWIN, MRS. FREDERICK (AUGUSTA TYLER)",FEMALE,43.0,1,6,CA 2144,46.90,NaN,S,1869.0,43.0 FEMALE,2.0,39
683,684,0,3,"GOODWIN, MR. CHARLES EDWARD",MALE,14.0,5,2,CA 2144,46.90,NaN,S,1898.0,14.0 MALE,2.0,27
684,685,0,2,"BROWN, MR. THOMAS WILLIAM SOLOMON",MALE,60.0,1,1,29750,39.00,NaN,S,1852.0,60.0 MALE,2.0,33
685,686,0,2,"LAROCHE, MR. JOSEPH PHILIPPE LEMERCIER",MALE,25.0,1,2,SC/PARIS 2123,41.58,NaN,C,1887.0,25.0 MALE,0.0,38
686,687,0,3,"PANULA, MR. JAAKO ARNOLD",MALE,14.0,4,1,3101295,39.69,NaN,S,1898.0,14.0 MALE,2.0,24
710,711,1,1,"MAYNE, MLLE. BERTHE ANTONINE (""MRS DE VILLIERS"")",FEMALE,24.0,0,0,PC 17482,49.50,C90,C,1888.0,24.0 FEMALE,0.0,48
720,721,1,2,"HARPER, MISS. ANNIE JESSIE ""NINA""",FEMALE,6.0,0,1,248727,33.00,NaN,S,1906.0,6.0 FEMALE,2.0,33
736,737,0,3,"FORD, MRS. EDWARD (MARGARET ANN WATSON)",FEMALE,48.0,1,3,W./C. 6608,34.38,NaN,S,1864.0,48.0 FEMALE,2.0,39
766,767,0,1,"BREWE, DR. ARTHUR JACKSON",MALE,NaN,0,0,112379,39.60,NaN,C,NaN,nan MALE,0.0,25
817,818,0,2,"MALLET, MR. ALBERT",MALE,31.0,1,1,S.C./PARIS 2079,37.00,NaN,C,1881.0,31.0 MALE,0.0,18
824,825,0,3,"PANULA, MASTER. URHO ABRAHAM",MALE,2.0,4,1,3101295,39.69,NaN,S,1910.0,2.0 MALE,2.0,28
827,828,1,2,"MALLET, MASTER. ANDRE",MALE,1.0,0,2,S.C./PARIS 2079,37.00,NaN,C,1911.0,1.0 MALE,0.0,21
848,849,0,2,"HARPER, REV. JOHN",MALE,28.0,0,1,248727,33.00,NaN,S,1884.0,28.0 MALE,2.0,17
853,854,1,1,"LINES, MISS. MARY CONOVER",FEMALE,16.0,0,1,PC 17592,39.40,D28,S,1896.0,16.0 FEMALE,2.0,25

In [95]:
# To avoid using many filters we can also use .isin()

df[(df['Fare'] > 100) & (df['Pclass'].isin([2,3]))]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSP, Parch, Ticket, Fare, Cabin, Embarked, yob, age_and_gender, Embarked_nr, Name_length]
Index: []

In [96]:
# We can also use between()

df[df['Fare'].between(90,100)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSP,Parch,Ticket,Fare,Cabin,Embarked,yob,age_and_gender,Embarked_nr,Name_length
224,225,1,1,"HOYT, MR. FREDERICK MAXFIELD",MALE,38.0,1,0,19943,90.00,C93,S,1874.0,38.0 MALE,2.0,28
245,246,0,1,"MINAHAN, DR. WILLIAM EDWARD",MALE,44.0,2,0,19928,90.00,C78,Q,1868.0,44.0 MALE,1.0,27
291,292,1,1,"BISHOP, MRS. DICKINSON H (HELEN WALTON)",FEMALE,19.0,1,0,11967,91.08,B49,C,1893.0,19.0 FEMALE,0.0,39
412,413,1,1,"MINAHAN, MISS. DAISY E",FEMALE,33.0,1,0,19928,90.00,C78,Q,1879.0,33.0 FEMALE,1.0,22
484,485,1,1,"BISHOP, MR. DICKINSON H",MALE,25.0,1,0,11967,91.08,B49,C,1887.0,25.0 MALE,0.0,23
486,487,1,1,"HOYT, MRS. FREDERICK MAXFIELD (JANE ANNE FORBY)",FEMALE,35.0,1,0,19943,90.00,C93,S,1877.0,35.0 FEMALE,2.0,47
520,521,1,1,"PERREAULT, MISS. ANNE",FEMALE,30.0,0,0,12749,93.50,B73,S,1882.0,30.0 FEMALE,2.0,21
820,821,1,1,"HAYS, MRS. CHARLES MELVILLE (CLARA JENNINGS GR...",FEMALE,52.0,1,1,12749,93.50,B69,S,1860.0,52.0 FEMALE,2.0,50

# More Data Manipulation

## Setting the index

To set an index in pandas, you can use the `set_index()` method of the DataFrame. This method allows you to specify which column you want to use as the index for the DataFrame.

In [97]:
df.set_index('PassengerId',inplace=True)
df.head()

,Survived,Pclass,Name,Sex,Age,SibSP,Parch,Ticket,Fare,Cabin,Embarked,yob,age_and_gender,Embarked_nr,Name_length
PassengerId,,,,,,,,,,,,,,,
1,0,3,"BRAUND, MR. OWEN HARRIS",MALE,22.0,1,0,A/5 21171,7.25,NaN,S,1890.0,22.0 MALE,2.0,23
2,1,1,"CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS TH...",FEMALE,38.0,1,0,PC 17599,71.28,C85,C,1874.0,38.0 FEMALE,0.0,51
3,1,3,"HEIKKINEN, MISS. LAINA",FEMALE,26.0,0,0,STON/O2. 3101282,7.92,NaN,S,1886.0,26.0 FEMALE,2.0,22
4,1,1,"FUTRELLE, MRS. JACQUES HEATH (LILY MAY PEEL)",FEMALE,35.0,1,0,113803,53.10,C123,S,1877.0,35.0 FEMALE,2.0,44
5,0,3,"ALLEN, MR. WILLIAM HENRY",MALE,35.0,0,0,373450,8.05,NaN,S,1877.0,35.0 MALE,2.0,24

## Adding/removing rows and/or columns

To add or remove rows and/or columns from a pandas DataFrame, you can use the following methods:

1. Adding rows:
   - Use the `append()` method to add rows to the DataFrame.

2. Removing rows:
   - Use the `drop()` method with the row index or label to remove specific rows.

3. Adding columns:
   - Using `df[new_column]`, you simply assign a list, Series, or scalar value to the new column name
   - Assign a new column to the DataFrame using bracket notation or the `assign()` method.

4. Removing columns:
   - Use the `drop()` method with the column name and `axis=1` to remove specific columns.
   - Alternatively, you can use the `del` keyword to remove a column in-place.

In [ ]:
df.drop(1) # This deletes the row with index 1

In [98]:
# This deletes a column

df.drop('Name',axis=1,inplace=True)
df.head()

,Survived,Pclass,Sex,Age,SibSP,Parch,Ticket,Fare,Cabin,Embarked,yob,age_and_gender,Embarked_nr,Name_length
PassengerId,,,,,,,,,,,,,,
1,0,3,MALE,22.0,1,0,A/5 21171,7.25,NaN,S,1890.0,22.0 MALE,2.0,23
2,1,1,FEMALE,38.0,1,0,PC 17599,71.28,C85,C,1874.0,38.0 FEMALE,0.0,51
3,1,3,FEMALE,26.0,0,0,STON/O2. 3101282,7.92,NaN,S,1886.0,26.0 FEMALE,2.0,22
4,1,1,FEMALE,35.0,1,0,113803,53.10,C123,S,1877.0,35.0 FEMALE,2.0,44
5,0,3,MALE,35.0,0,0,373450,8.05,NaN,S,1877.0,35.0 MALE,2.0,24

In [99]:
# This creates a new column

df["Survived_bool"] = df['Survived'].map({0: False, 1: True})
df

,Survived,Pclass,Sex,Age,SibSP,Parch,Ticket,Fare,Cabin,Embarked,yob,age_and_gender,Embarked_nr,Name_length,Survived_bool
PassengerId,,,,,,,,,,,,,,,
1,0,3,MALE,22.0,1,0,A/5 21171,7.25,NaN,S,1890.0,22.0 MALE,2.0,23,False
2,1,1,FEMALE,38.0,1,0,PC 17599,71.28,C85,C,1874.0,38.0 FEMALE,0.0,51,True
3,1,3,FEMALE,26.0,0,0,STON/O2. 3101282,7.92,NaN,S,1886.0,26.0 FEMALE,2.0,22,True
4,1,1,FEMALE,35.0,1,0,113803,53.10,C123,S,1877.0,35.0 FEMALE,2.0,44,True
5,0,3,MALE,35.0,0,0,373450,8.05,NaN,S,1877.0,35.0 MALE,2.0,24,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,MALE,27.0,0,0,211536,13.00,NaN,S,1885.0,27.0 MALE,2.0,21,False
888,1,1,FEMALE,19.0,0,0,112053,30.00,B42,S,1893.0,19.0 FEMALE,2.0,28,True
889,0,3,FEMALE,NaN,1,2,W./C. 6607,23.45,NaN,S,NaN,nan FEMALE,2.0,40,False
890,1,1,MALE,26.0,0,0,111369,30.00,C148,C,1886.0,26.0 MALE,0.0,21,True
891,0,3,MALE,32.0,0,0,370376,7.75,NaN,Q,1880.0,32.0 MALE,1.0,19,False

## ðŸ’¡ Check for understanding

Use the `supermarket_sales.csv` file for this task.

1. **Load the Data**: Use pandas to load the `supermarket_sales.csv` file into a DataFrame.

2. **Null Values**: Check if the DataFrame has any null values. If there are any, count the number of null values in each column.

5. **Formatting Data**: Round any floating point numbers in the DataFrame to two decimal places.

6. **Cleaning Column Names**: Ensure all column names are in lowercase and replace any spaces in the column names with underscores.

7. **Using `apply()`, `map()`, and `applymap()`**: Create a new column called 'total_cost' which is the product of the 'quantity' and 'unit_price' columns (assuming these columns exist in your dataset). Use the `apply()` function for this.

8. **Filtering Data**: Filter the DataFrame to only include rows where 'total_cost' is greater than the average 'total_cost'.

9. **Setting the Index**: Set the 'invoice_id' column (or any other unique identifier) as the index of the DataFrame.

In [ ]:
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/supermarket_sales.csv'

In [ ]:
# Your code goes here

# Summary

1. Null Values:
   - Null values (also known as missing values) can hinder data analysis and modeling.
   - Use `isnull()` or `isna()` to check for null values in a DataFrame or Series.
   - Use `any()` and `sum()` to efficiently assess data quality.
   - Use `dropna()` to remove rows or columns with null values from a DataFrame.
   - Parameters like subset, how, and thresh can control the behavior of dropping rows or columns.
   - Use `fillna()` to replace null values with specific values, such as `mean()`, `median()`, or forward/backward fill.

5. Formatting Data:
   - Use `round()` and `format()` to format numeric values.
   - Use f-strings, `format()` or % to format strings and use string methods like `lower()`, `upper()`, `title()`, `strip()`, `split()`, and `replace()`.

6. Cleaning Column Names:
   - Use df.columns to access column names.
   - Modify column names using df.columns or `rename()`.

7. Using `apply()`, `map()`, and `applymap()`:
   - `apply()`: Applies a custom function to a Series.
   - `map()`: Transforms Series elements based on a dictionary.
   - `applymap()`: Applies a custom function to every element in a DataFrame.

8. Filtering Data:
   - Filter rows in a DataFrame using boolean indexing.
   - Use comparison operators (<, >, ==) to create conditions.
   - Combine multiple conditions using logical operators (& for 'and', | for 'or').

9. Setting the Index:
   - Use `set_index()` to set an index for the DataFrame.

10. Adding/Removing Rows and Columns:
   - Use `append()` to add rows to the DataFrame.
   - Use `drop()` with the row index/label to remove specific rows.
   - Use bracket notation, `assign()`, or `drop()` with axis=1 to add/remove columns.